.summary {
  &__images {
    .second {
      display: none;
    }
    &:hover {
      .first {
        display: none;
      }
      .second {
        display: block;
      }
    }
  }

  .tile-body {
    padding-top: $spacing-medium;
  }
  &__name {
    font-family: nth($text-font-stack, $avenir-LT-Std);

    a {
      color: $text-color-black !important;
    }
  }
  &__pricing {
    .strike-through {
      span {
        color: $light-grey;
        font-size: 15px;
        text-decoration: line-through;
      }
    }
    .price {
      .range {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.875em;
      }
    }
  }
  &__swatches {
    align-items: flex-end;
    display: flex;

    .swatch-circle {
      height: 15px;
      margin: 12px 5px;
      width: 15px;
    }
    
    .color-swatches {
      min-height: 0 !important;
    }
  }

  &__footer {
    padding-top: $spacing-small-medium;
    // display: none;
    visibility: visible;
  }

  @include respond(tab-port) {
    &__footer {
      // display: none;
      visibility: hidden;
    }
    &:hover {
      .summary__footer {
        // display: block;
        visibility: visible;
      }
    }
  }
}

/// productTileImage
.wishlist {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  height: auto;

  &__Unselected,
  &__Selected {
    display: none;

    &--show {
      display: block;
    }
  }
}
