@font-face {
  font-family: "Avenir-LT-Std";
  src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Next";
  src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

/*  */

#homepage p {
  height: 1500px;
}

/* **************************** HEADER **************************** */

header .container {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 auto !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

header .navbar-header {
  padding-left: 26px;
  padding-right: 26px;
}

@media (min-width: 992px) {
  .brand {
    padding-top: 1em !important;
  }
}

.store-locator {
  display: inline-block;
  margin: 1.125em 0 0 0.5em;
}

.actionIcons {
  min-width: 178px;
}

.navbar-nav {
  background-color: #ffffff !important;
  color: #000000 !important;
  display: flex;
  justify-content: center;
}

.navbar-nav a {
  color: #000000 !important;
  font-family: "Avenir-LT-Std" !important;
  font-size: 14px !important;
}

#searcHeaderResponsive,
#searcHeader {
  background-color: transparent;
  border: none;
  padding-top: 3px;
}

#searcHeaderResponsive::after,
#searcHeader::after {
  content: url(../images/search.svg);
}

.search-field {
  border: 1px solid #000000 !important;
  border-radius: 0 !important;
  width: 308px !important;
  height: 23px !important;
}

.form-control:focus {
  box-shadow: none !important;
}
.hidden {
  display: none;
}

.campaign-banner {
  background-color: #231f20 !important;
  height: 50px;
  display: flex;
}

.campaign-banner .campaign-banner-container {
  height: 50px !important;
  justify-content: center !important;
  align-items: center !important;
}

.campaign-banner .campaign-banner-message {
  padding-top: 0px !important;
}

.campaign-banner-container h1,
.campaign-banner-container h2,
.campaign-banner-container h3,
.campaign-banner-container h4,
.campaign-banner-container h5,
.campaign-banner-container h6,
.campaign-banner-container p {
  font-family: "Avenir-Next" !important;
  font-size: 13px !important;
  color: #ffffff !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.campaign-banner img {
  vertical-align: text-bottom !important;
}
.campaign-banner .close-button {
  display: none;
}

.suggestions {
  top: 20px;
  right: -86px;
}

.suggestions .children:hover {
  background-color: #231f20 !important;
}

.suggestions .children span,
.suggestions .children a {
  color: #000000 !important;
}

.suggestions .children:hover span,
.suggestions .children:hover a {
  color: #ffffff !important;
}

.suggestions .noImageItem div {
  margin-left: 16.66667% !important; /* No Image margin */
}

.suggestions .children img {
  width: 26px !important;
  height: 26px !important;
  margin: 0px 17px !important;
}

.suggestions .header {
  border: none !important;
  color: #979797 !important;
}

.borderTopHeader:not(:first-child) {
  border-top: 0.5px solid #000000 !important;
  margin-left: 8px;
  margin-right: 8px;
}

.responsive {
  display: none !important;
}

/* MOBILE */

@media (max-width: 991px) {
  .desk {
    display: none !important;
  }

  .responsive {
    display: block !important;
  }

  .site-search {
    display: block;
  }

  .actionIcons {
    min-width: 25%;
  }

  .brand {
    width: 189px !important;
    left: 20%;
  }
}

/* **************************** FOOTER **************************** */
footer {
  background-color: #231f20;
}

footer .newsletter {
  background-color: #231f20;
  border: 1px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  height: 32px;
  width: 268px;
}

footer .newsletter:focus {
  background-color: #231f20;
  border: 1px solid #ffffff;
  color: #ffffff;
  box-shadow: none;
}

footer .input-group-append {
  padding-left: 6px;
}

footer .input-group {
  padding-top: 10px;
  display: grid;
}

footer .subscribe-email {
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px solid #ffffff;
  color: #000000 !important;
  height: 32px !important;
  width: 71px !important;
}

footer .subscribe-email {
  align-items: center;
}

.footer-item:not(:first-child) {
  border-left: 0.3px solid #ffffff;
}

footer .content li {
  height: auto !important;
}

footer .content,
.footer-item,
.footer-item a,
.content-asset .footer-item button,
.footer-item h2 {
  font-size: 14px !important;

  line-height: 17px !important;
  color: #ffffff !important;
  font-family: "Avenir-LT-Std" !important;
}

.goToUp {
  position: fixed !important;
  bottom: 20% !important;
  left: 90% !important;
}

.goToUp i {
  /* height: 52px !important;
  width: 52px !important; */
  color: #000 !important;
  z-index: -1 !important;
}

.goToUp img {
  height: 17px;
  width: 24px;
  vertical-align: initial !important;
}

.copyright {
  background-color: #64656a;
  color: #ffffff;
  font-family: "Avenir-Next";
  font-size: 12px !important;
  margin-top: 10px;

  position: relative;
  top: 32px;
}

#facebook {
  content: url(../images/facebook.svg);
}

#instagram {
  content: url(../images/instagram.svg);
}

#youtube {
  content: url(../images/youtube.svg);
}

#footer-miniLogo {
  display: flex;
  justify-content: end;
}

#footer-miniLogo .item::after {
  content: url(../images/mens.png);
}

#footer-visa {
  content: url(../images/visa.svg);
}

#footer-mastercard {
  content: url(../images/mastercard.svg);
}

#footer-paypal {
  content: url(../images/paypal.svg);
}

#footer-americanexpress {
  content: url(../images/americanexpress.svg);
}

#footer-mercadopago {
  content: url(../images/mercadopago.svg);
}

.payment-items,
.socialMedia-paymentMethods {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.socialMedia {
  margin-top: 40px;
}

.socialMedia {
  width: 100%;
}

.socialMedia-container .items,
.socialMedia-container .title {
  display: flex;
  justify-content: center;
}

.payment-items div:not(:first-child),
.socialMedia-container .items a:not(:first-child) {
  margin-left: 10px !important;
}

.socialMedia-container .items {
  margin-top: 10px;
}

.socialMedia-paymentMethods {
  display: flex;
}

.socialMedia-paymentMethods-mobile {
  display: none;
}

.suscribe-label {
  margin-bottom: 10px;
}

footer .socialMedia-paymentMethods {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width: 1200px) {
  footer .container {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90% !important;
  }
}

@media (min-width: 992px) {
  footer .container {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90% !important;
  }
}

@media (min-width: 769px) {
  footer .container {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 90% !important;
  }
}

@media (max-width: 992px) {
  footer .newsletter {
    width: 200px !important;
  }

  .socialMedia-paymentMethods {
    display: none;
  }

  .socialMedia-paymentMethods-mobile {
    display: block;
  }
}

@media (max-width: 769px) {
  footer .newsletter {
    width: 150px !important;
  }
}

@media (max-width: 991px) {
  .footer-item li,
  .footer-item button {
    display: flex;
    justify-content: center;
  }

  #footer-miniLogo {
    display: none;
  }

  .footer-item button {
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .collapsible-xs .title:after {
    position: absolute;
    right: 30px;
  }
}

@media (max-width: 543px) {
  .container div.collapsible-xs button.title {
    font-family: "Avenir-LT-Std" !important;
    color: #ffffff;
  }

  footer .input-button {
    width: 100%;
    display: block !important;
  }

  footer .input-group-append {
    padding-left: 0px;
  }

  footer .input-button input,
  footer .input-button button {
    width: 100% !important;
    height: 26px !important;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  footer .suscribe-label {
    justify-content: center !important;
  }

  footer .input-button {
    margin-top: 10px;
  }

  .paymentMethods {
    margin-top: 25px;
  }

  .payment-items {
    justify-content: space-evenly;
  }
}
