.container-custom-plp {
    width: 95%;
    max-width: $max-width;
    margin: 0 auto;
}

.container-custom-plp .breadcrumb{
    margin-right: 26px;

    @media (max-width: 390px) {
        margin-right: 0;
    }
}