.container-custom-plp {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.container-custom-plp .breadcrumb{
    margin-right: 26px;

    @media (max-width: 390px) {
        margin-right: 0;
    }
}