.grid-header {
    &.row {
        margin: 0;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $light-grey;
        padding: $spacing-medium 0;
    
        .filters {
            display: flex;
            align-items: center;
    
            &__text {
                margin: 0 $spacing-medium 0 0;
            }
    
            svg {
                cursor: pointer;
            }
        }
    }

    &__column {
        display: flex;
        align-items: center;
    }

    &__column-item {
        &--right {
            margin-right: $spacing-large;
        }

        &:last-child {
            margin: 0;
        }
    }
}