.product-grid {
    width: 100%;

    &--full-width {
        width: 100%;
        max-width: 100%;
        flex: 1;
    }
}
.summary__pricing .strike-through span{
    color: #444444 !important;
    opacity: 80%;
}
@media (max-width: 768.98px) {
    .summary__pricing .strike-through span{
        color: #444444 !important;
        opacity: 80%;
        font-size: 10px !important;
    }
}
