.highlight {
  position: absolute;
  top: 10px;
  left: 3px;
  width: 94px;
  height: 37px;
  font-family: "Avenir-LT-Std";
  font-size: 14px;
  z-index: 1;

  &--black {
    background-color: #000;

    span {
      color: #fff;
    }
  }

  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.highlightCont {
  padding: 9px 6px;
}
