.refinement-bar {
    display: none!important;
    position: absolute;
    top: 74px;
    left: 0;
    background-color: $white-color;
    z-index: 5;
    box-shadow: none;
    @include respond(phone) {
        top: 56px;
    }

    &--show {
        display: block!important;
    }

    .refinement-color {
        .values.content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .color-attribute {
            text-align: center;
        }
    }
}

.title.btn.text-left.btn-block.d-md-none {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapsible-sm .title::after {
    display: none;
}