.refinement-bar {
    display: none!important;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: $white-color;
    z-index: 5;

    &--show {
        display: block!important;
    }

    .refinement-color {
        .values.content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        .color-attribute {
            text-align: center;
        }
    }
}
