.product-grid {
    width: 100%;

    &--full-width {
        width: 100%;
        max-width: 100%;
        flex: 1;
    }
}

@media (max-width: 768.98px) {

    .summary__pricing{
        padding: 0 !important;
    }

    .promo-carousel .value{
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 395px) {
    .promo-carousel .value {
      font-size: 12px !important;
    }
}


