.highlight {
  position: absolute;
  top: 0;
  left: -10px;
  font-family: "Avenir-LT-Std";
  font-size: 14px;
  z-index: 1;

  &--black {
    background-color: #000;

    span {
      color: #fff;
    }
  }

  &--container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.highlightCont {
  padding: 10px 20px;
}
