footer {
  background-color: #ededed;
}

footer .container {
  max-width: 1390px;
  margin: auto;
  color: #929292;
}

footer .container a {
  color: #929292;
}

.row-btn-back-top {
  display: flex;
  justify-content: flex-end;
}

.footer-row-custom {
  align-items: center;
}

.menu-footer a:hover {
  text-decoration: underline #f77b28;
}

.footer-sociales {
  display: flex;
  justify-content: flex-end;
}

.custom-footer-item {
  padding: 0;
}

.footer-sociales #logoCustom {
  min-width: 24px;
  min-height: 24px;
}

.footer-sociales a {
  padding: 0 2rem;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .hidden-md-down {
    display: block !important;
    padding: 1rem 0;
  }
  .footer-sociales #logoCustom {
    padding: 0;
  }
  .d-lg-none {
    display: none !important;
  }
  footer .store {
    border: 0;
  }
}
