.customTextBox-component-container a,
.customTextBox-component-container p,
.customTextBox-component-container h1,
.customTextBox-component-container h2,
.customTextBox-component-container h3,
.customTextBox-component-container h4 {
  font-family: "Avenir-Next";
  color: #000;
}
.customTextBox-component-container h1,
.customTextBox-component-container h2,
.customTextBox-component-container h3,
.customTextBox-component-container h4,
.customTextBox-component-container strong {
  font-family: "AvenirLTStd-Heavy";
  margin: 0;
}

.customTextBox-component-container s {
  color: red !important;
  text-decoration: none;
}

.customTextBox-component-container a {
  color: #000 !important;
}

.customTextBox-component-container p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 900;
}

@media (max-width: 543px) {
  .experience-component.experience-commerce_assets-customTextBox{
    margin-bottom: 10px;
  }
}