@media (min-width: 992px) {
  header {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 100%;
  }

  header .navbar-nav,
  header .main-menu {
    background-color: transparent !important;
  }

  header:hover {
    background-color: #fff;
  }

  header .nav-item a {
    font-weight: 700;
    color: #fff !important;
  }

  header:hover .last_category_item a,
  header .last_category_item a {
    color: #ff0000 !important;
  }

  header .category-item a,
  header .sub-category-item a,
  header:hover .nav-item a {
    color: #000 !important;
  }

  header .sub-category-item a {
    font-weight: 400;
  }

  #menuDesk .nav:hover .nav-item {
    text-shadow: none;
  }
}
