@media (min-width: 992px) {
  header {
    position: absolute;
    z-index: 10;
    width: 100%;
  }

  #navCont{
    background: rgba(255, 255, 255, 0.7);
  }

  #navCont:hover {
    background-color: #fff;
  }

  #customMenu{
    border-top: 0.3px solid rgba(68, 68, 68, 0);
  }

  #navCont:hover ~ #customMenu{
    border-bottom: 0.3px solid rgba(68, 68, 68, 0.5);
  }

  /* header:hover {
    background-color: #fff;
  } */

  header .nav-item a {
    font-weight: 700;
    color: #000 !important;
  }

  header:hover .last_category_item a,
  header .last_category_item a {
    color: #ff0000 !important;
  }

  header .category-item a,
  header .sub-category-item a,
  header:hover .nav-item a {
    color: #000 !important;
  }

  header .sub-category-item a {
    font-weight: 400;
  }
/* 
  #menuDesk .nav-item {
    text-shadow: 0px 7px 17px rgb(0, 0, 0);
  } */

  #menuDesk .nav-item:hover.dropdown {
    text-shadow: none;
  }

  #menuDesk .nav:hover .nav-item {
    text-shadow: none;
  }
}
