@media (min-width: 992px) {
  header {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    width: 100%;

    pointer-events: none;
  }

  header .navbar-nav,
  header .main-menu {
    background-color: transparent !important;
  }

  header li {
    pointer-events: auto;
  }

  header:hover {
    background-color: #fff;
  }

  header:hover .nav-item a {
    color: #000 !important;
  }
  header:hover .nav-item.last_category_item a,
  header .nav-item.last_category_item a {
    color: #ff0000 !important;
  }

  header .nav-item a {
    font-weight: 700;
    color: #fff !important;
  }
}
