// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Avenir-LT-Std";
    src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-Next";
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Avenir-LT-Std-BlackOblique";
    src: url(../fonts/AvenirLTStd-BlackOblique_0.otf) format("opentype");
}

@font-face {
    font-family: "AvenirLTStd-Heavy";
    src: url(../fonts/AvenirLTStd-Heavy.otf) format("opentype");
}