a {
 &:hover {
  text-decoration: none;
 }

 .oauth-google,
 .oauth-facebook{
  &--button {
   border: 1px solid #000;
   border-radius: 3px;
   height: 40px;
   font-size: 18px;
   width: 100%;
   background: none;

   &:hover {
    background-color: #000;
    color: #fff;
    transition: all ease .2s;
   }
  }
 }

 .oauth-google{
  &--button{
    margin-bottom: 16px;
  }
 }
 .oauth-facebook{
  &--button{
    margin-bottom: 30px;
  }
 }
}
