.checkout {
  font-family: nth($text-font-stack, $avenir-LT-Std);
  font-size: $font-size-h5-and-paragraph;

  &--rightBorder {
    @include respond(tab-port) {
      border-right: 1px solid $text-color-black;
    }
  }

  &--topBorder {
    @include respond(tab-port-max) {
      border-top: 1px solid $text-color-black;
    }
  }

  &__bottomBorder {
    border-bottom: 1px solid $text-color-black;

    &--noResponsive {
      margin-bottom: 10px;
      @include respond(phone-max) {
        border-bottom: none;
      }
    }
  }

  &__form {
    color: $text-color-black !important;
    padding: 10px 5px 10px 5px;
    border-radius: 0;
    border: 1px solid $text-color-black;
    font-family: nth($text-font-stack, $avenir-LT-Std);
    font-size: $font-size-minimal;

    &::placeholder {
      font-family: nth($text-font-stack, $avenir-LT-Std);
      font-size: $font-size-minimal;
      color: $text-color-black !important;
    }

    &:focus {
      border: 1px solid $text-color-black;
    }

    &--padding-half {
      padding: 5px 5px 5px 5px;
    }
  }

  &__cart {
    background-color: $white-color;
    @include respond(phone) {
      background: linear-gradient(
        to left,
        #c2c3c6 0%,
        #c2c3c6 50%,
        #f5f5f5 50%,
        #f5f5f5 100%
      );
    }
  }

  &__cartTitle {
    font-size: 36px;
    font-family: nth($text-font-stack, $avenir-Next);
    font-weight: 900;
    color: #fff;
    padding: 30px;
    background-color: $text-color-black;

    span {
      margin-left: 10%;
    }
  }

  &__text {
    color: $text-color-black !important;
    font-family: nth($text-font-stack, $avenir-Next) !important;
    font-size: $font-size-minimal;

    &--space {
      margin-left: 5px;
    }
    &--bold {
      font-family: nth($text-font-stack, $avenir-LT-Heavy);
    }
  }

  &__item {
    background-color: $white-color !important;
    padding: 20px;
    border: 1px solid $text-color-black;

    height: 225px;

    @include respond(tab-port-max) {
      height: 300px;
    }
  }

  &__totals {
    background-color: $white-color !important;
    padding: 20px;
    border: 1px solid $text-color-black;
  }
}
