// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* **************************** HOME **************************** */

#maincontent .container {
  max-width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden;
}

#maincontent .experience-commerce_assets-topBar {
  padding-bottom: 1rem !important;
}

.editorialRichText-component-container .text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorialRichText-component-container .text-center p,
.editorialRichText-component-container .text-center a,
.editorialRichText-component-container .text-center h1,
.editorialRichText-component-container .text-center h2,
.editorialRichText-component-container .text-center h3,
.editorialRichText-component-container .text-center h4 {
  font-family: "Avenir-LT-Std";
  color: #000000 !important;
  text-decoration: none;
}

.mobile-2r-2c .region:not(:first-child) {
  border-left: 1px solid #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: transparent !important;
  opacity: 1;
}

.carousel-control-prev::after {
  content: url(../images/carrucel-arrow.svg);
}

.carousel-control-next::after {
  content: url(../images/carrucel-arrow.svg);
  transform: rotate(180deg);
}

#customBannerCarousel .carousel-control-prev{
  left: 3% !important;
}

#customBannerCarousel .carousel-control-next{
  right: 3% !important;
}

.carousel-control-prev {
  left: -3% !important;
}

.carousel-control-next {
  right: -3% !important;
}

#customBannerCarousel .ITBC-buttons{
  position: absolute;
  bottom: 300px;
}

.ITBC-content .btn-ITBC{
  height: 71px;
}

.ITBC-content .btn-ITBC:hover{
  background-color: #000000;
  color: #ffffff !important;
}

.customTextBox-component-container a u{
  text-decoration: none;
}

.experience-commerce_layouts-navTabs{
  box-shadow: 2px -4px 9px 3px rgba(0,0,0,0.12);
  -webkit-box-shadow: 2px -4px 9px 3px rgba(0,0,0,0.12);
  -moz-box-shadow: 2px -4px 9px 3px rgba(0,0,0,0.12);
  margin-bottom: 15px;
}

.promo-carousel__countdown{
  margin-right: 12px;
}


.promo-carousel__countdown__item .item .number {
  font-family: nth($text-font-stack,$avenir-LT-Heavy)!important ; 
}
.promo-carousel__countdown__item .item .type {
  font-family: nth($text-font-stack,$avenir-LT-Heavy)!important ; 
}
@media (max-width: 544px) {
  .mobile-2r-2c .region:is(:nth-last-child(2)),
  .mobile-2r-2c .region:is(:last-child) {
    border-top: 1px solid #000000;
  }

  .mobile-2r-2c .region {
    margin-bottom: 0px;
  }

  .ITBC-content .btn-ITBC{
    height: 51px;
    min-width: 170px;
    font-size: 12px;
  }
  
  #customBannerCarousel .ITBC-buttons{
    position: initial;
  }
}

@media (max-width: 991px){

  .customTextBox-component-container h1{
    margin: 5px 0;
  }
  
  .mobile-navTabs{
    margin: 20px 0;
  }

  .customTextBox-component-container .item{
    padding-top: 0 !important;
  }

  .customTextBox-component-container strong{
    font-family: nth($text-font-stack,$avenir-LT-Heavy)!important ; 
  }

  .experience-commerce_layouts-mobileGrid2r1c:nth-of-type(2n) .region{
    margin-bottom: 0 !important;
  }
}