.product-detail {
    font-family: 'Avenir-Next';
    & .pdp-scroll-carosuel {
        & .carousel-inner {
            display: flex;
            flex-direction: column;
            max-height: 100vh;
            overflow: auto;
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
        & .carousel-item {
            display: block;
        }
        & .carousel-control-prev, .carousel-control-next, .carousel-indicators {
            display: none;
        }
    }
    & .fa.icon-prev, .fa.icon-next {
        display: none;
    }
    & .product-name {
        border: 0;
        color: $dark-grey;
        display: inline-block;
        font-family: 'Avenir-Bold';
        font-size: 30px;
        font-weight: 700;
        margin: 34px 0 12px 0;
        line-height: normal;
    }
    & .sizes-guide {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        & .link {
            line-height: normal;
            text-decoration: underline;
        }
    }
    .prices {
        & .price {
            text-align: left;
        }
    }
    & .attribute label {
        font-size: 16px;
        min-height: 22px;
    }
    & select, button, .mensButton {
        border-radius: 0;
        border: 1px solid #000;
        color: #000;
        display: inline-block;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 5px 10px;
        & option {
            color: #000;
            font-size: 14px;
        }
        &:hover {
            cursor: pointer;
        }
        &:focus {
            border-color: #495057;
        }
    }
    & .color-attribute {
        border: 0;
        height: auto;
        padding: 0;
    }
    & .add-to-cart.btn.btn-primary {
        background: none;
        border: 1px solid #000;
        color: #000;
        font-size: 16px;
        opacity: 1;
        text-transform: uppercase;
        transition: 0.3s ease all;
        &:hover {
            background-color: #d8d8d8;
            color: #000 !important;
            cursor: pointer;
        }
    }
    & .buy-now.btn.btn-primary, .add-to-cart-global.btn.btn-primary {
        background: #D9D9D9;
        border: 1px solid #D9D9D9;
        color: #000;
        font-family: 'Avenir-Bold';
        font-size: 16px;
        opacity: 1;
        text-transform: uppercase;
        transition: 0.3s ease all;
        &:hover {
            background-color: #fff;
            color: #000 !important;
            cursor: pointer;
        }
    }
    & .prices-add-to-cart-actions.bundle-footer .price span {
        color: #393939;
        font-size: 30px;
    }
    & .price {
        & .sales .value {
            font-size: 30px;
        }
    }
    & .product-number-rating {
        border: 0;
        & div {
            color: #000;
            font-size: 12px;
        }
    }
    & hr {
        border-top: 1px solid #F0F0F4;
    }
    & .description-and-detail {
        & .row {
            margin: 15px 0;
        }
        & .title.btn {
            font-size: 16px;
            line-height: normal;
            padding-left: 0;
        }
    }
    & .separator-set-price {
        border-color: #000;
        margin: 1.5rem auto;
    }
    @media (max-width: 543.98px) {
        .collapsible-xs .title:after {
          content: url("../images/pdp/plus.svg");
        }
        .collapsible-xs.active .title:after {
          content: url("../images/pdp/less.svg");
        }
      }
      @media (max-width: 768.98px) {
        .collapsible-sm .title:after {
          content: url("../images/pdp/plus.svg");
        }
        .collapsible-sm.active .title:after {
          content: url("../images/pdp/less.svg");
        }
      }
      @media (max-width: 991.98px) {
        .collapsible-md .title:after {
          content: url("../images/pdp/plus.svg");
        }
        .collapsible-md.active .title:after {
          content: url("../images/pdp/less.svg");
        }
      }
      @media (max-width: 1199.98px) {
        .collapsible-lg .title:after {
          content: url("../images/pdp/plus.svg");
        }
        .collapsible-lg.active .title:after {
          content: url("../images/pdp/less.svg");
        }
      }
      .collapsible-xl .title:after {
        content: url("../images/pdp/plus.svg");
      }
      .collapsible-xl.active .title:after {
        content: url("../images/pdp/less.svg");
      }
}
@media only screen and (min-width: 468px) {
    .product-detail {
        & .product-name {
            margin: 5px 0 22px 0;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .sizes-guide {
        & img {
            width: 25px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .product-detail {
        & .custom-margin {
            margin: 0 20px;
        }
    }
}
@media only screen and (max-width: 997px) {
    .product-detail {
        & .selector-wrapper {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            & div {
                margin-top: 0;
            }
        }
    }
}

