.hero.slant-down {
  &::after {
    border-width: 0;
  }

  .header.page-title,
  .page-title::before {
    background-color: transparent;
    font-size: $font-size-heading-plp;
    line-height: $line-height-heading-plp;
  }
}

.show-more {
  visibility: hidden;
}

@media only screen and (min-width: 37.5em) {
    .grid-header__column-item--right {
      margin-right: 150px; } 
  }

  .summary__name{
    height: 50px !important;
  }


  .container-custom-plp  .highlight {
      left: 5px;
  }  
