.refinements h2 {
 font-family: nth($text-font-stack, $avenir-LT-Std) !important ;
}

.hero.slant-down {
 &::after {
  border-width: 0;
 }

 .header.page-title,
 .page-title::before {
  background-color: transparent;
  font-size: $font-size-heading-plp;
  line-height: $line-height-heading-plp;
 }
}

.show-more {
 visibility: hidden;
}

.swatches {
 display: flex;
}

.summary__footer .btn__small {
 white-space: nowrap;
}

@media only screen and (min-width: 37.5em) {
 .grid-header__column-item--right {
  margin-right: 150px;
 }
}

.container-custom-plp .highlight {
 left: 5px;
}

@media (max-width: 420px) {
 .summary__footer .btn__small {
  font-size: 12px;
 }
}

@media (max-width: 380px) {
 .summary__footer .btn__small {
  font-size: 11px;
 }
}

@media (max-width: 360px) {
 .summary__footer .btn__small {
  font-size: 10px;
 }
}

.check-custom-container {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 text-align: center;
 grid-row-gap: 22px;

 .check-custom {
  border: 1px solid #aaa;
  padding: 0 !important;
  font-size: 16px;
  margin: auto;

  button {
   font-size: 16px;
   padding: 7px 0;

   &:focus {
    outline: 0;
   }
  }
 }
}
.summary__pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 .highlight-promotion {
  background: #FD4237;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 0 10px;
 }
}
