.refinements h2{
  font-family: nth($text-font-stack,$avenir-LT-Std)!important ; 
}

.hero.slant-down {
  &::after {
    border-width: 0;
  }

  .header.page-title,
  .page-title::before {
    background-color: transparent;
    font-size: $font-size-heading-plp;
    line-height: $line-height-heading-plp;
  }
}

.show-more {
  visibility: hidden;
}

.swatches {
  display: flex;
}

@media only screen and (min-width: 37.5em) {
    .grid-header__column-item--right {
      margin-right: 150px; } 
  }

  .summary__name{
    height: 50px;
  }


  .container-custom-plp  .highlight {
      left: 5px;
  }  

@media only screen and (max-width: 420px) {
  .btn__small {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .summary__name{
    height: 40px;
  }

  .strike-price,
  .sales-price {
    height: 22px;
    margin-bottom: 12px;
  }

}
