$promotion-first-color: #555a7b;

#paquetes3x1699 {
  .container-custom-size {
    overflow: hidden;

    .editorialRichText-component-container {
      h4 {
        font-size: 20px;
        color: $promotion-first-color;
      }

      p {
        a {
          color: $promotion-first-color !important;
          font-size: 16px;
          font-family: $font-family-normal;

          u {
            text-decoration: none;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .experience-component.experience-commerce_layouts-carousel{
    .carousel-title{
      color: $promotion-first-color;
      font-size: 20px;
    }
  }

  #carousel-4a53e3a6c1b45dd5f928b55719,
  #carousel-a4f0ceeec72c81ab95604309f8,
  #carousel-d093a0c933cd397f9756c503a9,
  #carousel-4e244a80f0b45733d5ce2cb426 {
    padding: 0 25vh;
  }

  @media (max-width: 991px) {
    #carousel-4a53e3a6c1b45dd5f928b55719,
    #carousel-a4f0ceeec72c81ab95604309f8,
    #carousel-d093a0c933cd397f9756c503a9,
    #carousel-4e244a80f0b45733d5ce2cb426 {
      padding: 0 15vh;
    }
  }

  @media (max-width: 543px) {
    #carousel-4a53e3a6c1b45dd5f928b55719,
    #carousel-a4f0ceeec72c81ab95604309f8,
    #carousel-d093a0c933cd397f9756c503a9,
    #carousel-4e244a80f0b45733d5ce2cb426 {
      padding: 0 4vh;
    }

    .experience-component.experience-commerce_layouts-carousel{
      .carousel-title{
        padding: 16px;
      }
    }
  }
}