// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/* **************************** FOOTER **************************** */

footer {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

footer {
    background-color: #231f20;
}

footer .newsletter::placeholder {
    color: #ffffff;
}

footer .newsletter {
    font-size: 14px;
    background-color: #231f20;
    border: 1px solid #ffffff;
    border-radius: 0px;
    height: 32px;
    width: 268px;
    color: #ffffff;
}


footer .newsletter:focus {
    background-color: #231f20;
    border: 1px solid #ffffff;
    color: #ffffff !important;
    box-shadow: none;
}

footer .input-group-append {
    padding-left: 6px;
}

footer .input-group {
    margin-left: auto;
    margin-right: auto;
    max-width: 93%;
    padding-top: 10px;
    display: grid;
}

footer .subscribe-email {
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid #ffffff;
    color: #000000 !important;
    height: 32px !important;
    width: 92px !important;

    &:focus{
        outline: 0;
    }
}

footer .subscribe-email {
    align-items: center;
}

.footer-item:not(:first-child) {
    border-left: 0.3px solid #ffffff;
}

footer .content li {
    height: auto !important;
}

footer .content,
.footer-item,
.footer-item a,
.content-asset .footer-item button,
.footer-item h2 {
    font-size: 14px !important;
    line-height: 17px !important;
    color: #ffffff !important;
    font-family: 'Avenir-Next' !important;
}

.goToUp {
    position: fixed !important;
    bottom: 25%;
    right: 20px;
}

.goToUp i {
    /* height: 52px !important;
    width: 52px !important; */
    color: #000 !important;
    z-index: -1 !important;
}

.goToUp img {
    height: 51px;
    width: 51px;
    vertical-align: initial !important;
}

.copyright {
    background-color: #64656a;
    color: #ffffff;
    font-family: "Avenir-Next";
    font-size: 12px !important;
    margin-top: 10px;
    position: relative;
    top: 32px;
}

.copyright .copyright-container span {
    height: 25px;
    display: flex;
    align-items: center;
}

.hecho-con {
    margin-left: 80px;
    text-align: center;
    padding: 4px 5px 8px 5px;
}

footer .space {
    margin-top: 20px;
}

#facebook {
    content: url(../images/facebook.svg);
}

#instagram {
    content: url(../images/instagram.svg);
}

#youtube {
    content: url(../images/youtube.svg);
}

#footer-miniLogo {
    display: flex;
    justify-content: end;
}

#footer-miniLogo .item::after {
    content: url(../images/mens.png);
}

#footer-visa {
    content: url(../images/visa.svg);
}

#footer-mastercard {
    content: url(../images/mastercard.svg);
}

#footer-paypal {
    content: url(../images/paypal.svg);
}

#footer-americanexpress {
    content: url(../images/americanexpress.svg);
}

#footer-mercadopago {
    content: url(../images/mercadopago.svg);
}

.payment-items,
.socialMedia-paymentMethods {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.socialMedia {
    margin-top: 40px;
}

.socialMedia {
    width: 100%;
}

.socialMedia-container .items,
.socialMedia-container .title {
    display: flex;
    justify-content: center;
}

.payment-items div:not(:first-child),
.socialMedia-container .items a:not(:first-child) {
    margin-left: 10px !important;
}

.socialMedia-container .items {
    margin-top: 10px;
}

.socialMedia-paymentMethods {
    display: flex;
}

.socialMedia-paymentMethods-mobile {
    display: none;
}

.suscribe-label {
    margin-bottom: 10px;
    font-weight: bold;
}

footer .socialMedia-paymentMethods {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


#footercontent .content-asset{
    padding-left: 20px;
}

.items-colum-direction .customTextBox-component-container .item {
    padding: 0 !important;
    margin: 0;
}

.footerCheck{
    background: #000;
}

@media (min-width: 1200px) {
    footer .container {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 90% !important;
    }

}

@media (min-width: 992px) {
    footer .container {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 90% !important;
    }

    .search-responsive {
        display: none !important;
    }

    .search-desk {
        display: block !important;
    }
}

@media (min-width: 769px) {
    footer .container {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 90% !important;
    }
}

@media (max-width: 2560px){
    .newsletter .form{
        padding: 0 50px;
    }
}

@media (max-width: 1440px){
    .newsletter .form{
        padding: 0 50px;
    }

    .newsletter .container .markup h4{
        padding-left: 50px;
    }
}

@media (max-width: 1200px){
    .newsletter .form{
        padding: 0 100px;
    }
}

@media (max-width: 991px) {
    footer .newsletter {
        width: 200px !important;
    }

    .socialMedia-paymentMethods {
        display: none;
    }

    .socialMedia-paymentMethods-mobile {
        display: block;
    }

    .customTextBox-component-container p{
        margin-bottom: 0;
    }

    .items-colum-direction .customTextBox-component-container .item {
        padding: 1rem 5px 1rem 2px !important;
        margin: 10px;
    }

    .newsletter p{
        font-size: 18px;
    }
}

@media (max-width: 769px) {
    footer .newsletter {
        width: 150px !important;
    }
    
    #footercontent .content-asset{
        padding-left: 0;
    }

    .suscribe-label {
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {

    .footer-item li,
    .footer-item button {
        display: flex;
        justify-content: center;
    }

    #footer-miniLogo {
        display: none;
    }

    .minicart {
        margin: 0 0 0 0 !important;
    }

    .footer-item button {
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .collapsible-xs .title:after {
        position: absolute;
        right: 30px;
    }
}

@media (max-width: 991px) {
    .container div.collapsible-xs button.title {
        font-family: "Avenir-LT-Std" !important;
        color: #ffffff !important;
        font-weight: 400 !important;
        font-size: 14px !important;
    }

    footer .input-button {
        width: 100%;
        display: block !important;
    }

    footer .input-group-append {
        padding-left: 0px;
    }

    footer .input-button input,
    footer .input-button button {
        width: 100% !important;
        height: 36px !important;
        margin-top: 3px;
        margin-bottom: 0px;
    }

    footer .suscribe-label {
        justify-content: center !important;
    }

    footer .input-button {
        margin-top: 10px;
    }

    .paymentMethods {
        margin-top: 25px;
    }

    .payment-items {
        justify-content: space-evenly;
    }

    footer .footer-container {
        flex-wrap: wrap;
    }

    .navbar-header {
        padding-right: 0px !important;
    }

    .newsletter{
        padding: 12px !important;
    }
    .newsletter .form{
        padding: 0 65px;
    }

    .footer-item:not(:first-child) {
        border-left: none !important;
    }

    .footer-item.collapsible-md{
        padding: 25px 10px !important;
        border-bottom: 1px solid #fff !important;

        .title{
            color: #fff !important;

            &::after{
                position: absolute !important;
                right: 25px !important;
                display: initial !important;
            }
        }
    }
}

@media (max-width: 769px) {
    .hecho-con {
        margin-left: 5px;
    }

}

@media (max-width: 543px) {
    /* .footer-item:not(:first-child) {
      border-left: 0.3px solid #ffffff;
    } */

    .footer-item {
        border-left: none !important;
    }

    .footer-item:is(:last-child) {
        border-bottom: none !important;
    }

    .footer-email-signup .newsletter {
        text-align: center;
    }

    .newsletter .form{
        padding: 0 45px;
    }

    .footer-item button:focus {
        box-shadow: none;
    }

    .goToUp .fa-lg {
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-item.collapsible-md{
        padding: 0 !important;
        border-bottom: 1px solid #fff !important;
    }
}

@media (max-width: 543px) {

    .newsletter .container .form button{
        font-size: 16px;
    }

    .newsletter .container .form input{
        font-size: 16px;
    }
}

