.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.experience-commerce_layouts-bannerCarousel .carousel-control-prev {
  left: 3%;
}

.experience-commerce_layouts-bannerCarousel .carousel-control-next {
  right: 3%;
}

#customBannerCarousel {
  margin-bottom: 15px;
}
#customBannerCarousel .col-12 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#customBannerCarousel .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#customBannerCarousel .photo-tile-container {
  width: 100%;
}
