.customNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px !important;
}

.customNav .nav-item .nav-link {
  background-color: transparent;
  color: black !important;
  font-family: "Avenir-LT-Std";
  font-size: 20px;
  font-weight: 800;
}

.mobile-navTabs {
  display: none;
  justify-content: center;
}

#mobile-select-navTabs {
  padding: 15px 20px;
  font-size: 17px;
  align-items: center;
  display: flex;
  font-family: "Avenir-LT-Std";
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 0px;
  color: #000;
  font-weight: 900;
  height: 49px;
}

#mobile-select-navTabs option {
  font-weight: 900;
}

@media (max-width: 991px) {
  .mobile-navTabs {
    display: flex;
  }
  .desk-navTabs {
    display: none;
  }
}
